<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>ADD NEW DEFECT</title>
</head>
<body>
<div class="container">
<form method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
  <div class="form-group" >
    <label >Name</label>
    <input type="text" class="form-control" name="Name"  placeholder="Enter Defect Summary">
  </div>
 <div class="form-group">
    <label >Priority</label>
    <input type="text" class="form-control" name="Priority"  placeholder="Enter Defect Priority">
  </div>
    <div class="form-group">
    <label >State</label>
    <input type="text" class="form-control" name="State" placeholder="Enter status">
  </div>
    <div class="form-group">
    <label >Upload</label>
    <input type="text" class="form-control" name="Attachements" placeholder="Upload Attachement">
  </div>
  <button type="submit" class="btn btn-primary" >Add</button>
    <a type="submit" class="btn btn-primary" href={{url}}> Back </a>
    <a type="submit" class="btn btn-primary" href='upload'> Upload </a>
</form>
    </div>
</body>
</html>